<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Dashboard</title>
</head>
<body>
    <h1>All the Animals</h1>
    <form action='/animals/new'>
        <input type='submit' value='add animal'>
    </form>
    <% for (var a in animals) { %>
        <p>name:<a href='/animals/<%= animals[a]._id %>'><%= animals[a].name %></a></p>
        <p>age: <%= animals[a].age %></p>
        <p>create_at:<%= animals[a].created_at %></p>
    <% } %>
</body>
</html>