<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Send User</title>
</head>
<body>
    <% for (var u in users) { %>
        <p>Name: <%= users[u].name %></p>
        <p>Age: <%= users[u].age %></p>
    <% } %>
    <form action='/users' method='post'>
        <p>Name: <input type='text' name='name'></p>
        <p>Age: <input type='number' name='age'></p>
        <input type='submit' value='send it'>
    </form>
</body>
</html>