<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/index.css' %}">
    <title>Ninja Gold</title>
</head>
<body>
    <p>Your Gold: <span class="gold">{{request.session.gold}}</span></p>
    <div class='locations'>
        <div class='farm'>
            <h3>Farm</h3>
            <p>(earns 10-20 gold)</p>
            <form action='/process_money' method='post'>
                {% csrf_token %}
                <input type="hidden" name='building' value='farm'>
                <input type='submit' value='submit'>
            </form>
        </div>
        <div class='cave'>
            <h3>Cave</h3>
            <p>(earns 5-10 gold)</p>
            <form action='/process_money' method='post'>
                {% csrf_token %}
                <input type="hidden" name='building' value='cave'>
                <input type='submit' value='submit'>
            </form>
        </div>
        <div class='house'>
            <h3>House</h3>
            <p>(earns 2-5 gold)</p>
            <form action='/process_money' method='post'>
                {% csrf_token %}
                <input type="hidden" name='building' value='house'>
                <input type='submit' value='submit'>
            </form>
        </div>
        <div class='casino'>
            <h3>Casino</h3>
            <p>(earns/takes 0-50 gold)</p>
            <form action='/process_money' method='post'>
                {% csrf_token %}
                <input type="hidden" name='building' value='casino'>
                <input type='submit' value='submit'>
            </form>
        </div>
    </div>
    <p>Activities:</p>
    <div class='activities'>
        {% for act in request.session.activity %}
            {{act|safe}}
        {% endfor %}
    </div>

</body>
</html>