<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>counter</h1>
    <p><%= count %></p>
    <form action='/add' method='get'>
        <input type='submit' value='add 2'>
    </form>
    <form action='/reset' method='get'>
        <input type='submit' value='reset'>
    </form>
</body>
</html>