<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete a course</title>
</head>
<body>
    <h2>Are you sure you want to delete the following course?</h2>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{course.name}}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{course.desc}}</td>
        </tr>
    </table>
    <p>   <a href='/'>No</a>     <a href='/{{course.id}}/destroy'>Yes! I want to delete this</a></p>

</body>
</html>